body {
  margin: 0;
  padding: 0;
}

.content {
  margin: 0 auto;
  margin-top: 30px;
  text-align:center;
  max-width: 45%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 50%;
  max-width: 500px;
}

.box {
  width: 125px;
  height: 100px;
  border: 3px solid black;
  background-color: purple;
  margin: 4px;
  text-align: center;
}

.box p {
  position: relative;
  top: 20%;
  font-size: 1.5em;
  color: white;
}

.blue {
  background-color: blue;
}

#blue {
  color: blue;
  font-weight: 500;
  text-transform: uppercase;

}

#green {
  color: green;
  font-weight: 500;
  text-transform: uppercase;
}

.green {
  background-color: green;
}

.box:hover {
  transform: rotate(7deg);
}

button {
  background-color: transparent;
  height: 50px;
  width: 130px;
  border: 3.5px solid purple;
  color: purple;
  font-size: 1.2em;
  font-weight: 500;
  margin: 1.5em;
}